.amenities-list {
  display: flex;
  flex-wrap: wrap;
  .page-menu__inner {
    margin-left: 0;
    margin-right: 0;
  }

  @include respond-to(md){
    display: block;
  }
}

.amenities-list__item {
  display: block;
  margin-bottom: 20px;
  line-height: 1;
  width: 50%;
  max-width: 50%;

  @include respond-to(md){
    width: 100%;
    max-width: 100%;
    margin-bottom: 46px;

    &.is-active {
      .amenities-list__link {
        text-decoration: underline;
      }
    }
  }
}

.amenities-list__link {
  display: inline-block;
  color: #fff;
  font-family: $DrukBold;
  font-size: 0.5rem;
  font-weight: 600;
  line-height: 0.8;
  text-transform: uppercase;
  @include transition-04;
  position: relative;
  padding-right: 35px;

  &:after {
    content: '';
    text-transform: lowercase;
    display: none;
    position: absolute;
    right: 0px;
    bottom: 0;
    top: 3px;
    margin: auto;
    @include square(15px);
    background: url("#{$imgUrl}location/list-icon.png") no-repeat center /contain;
  }

  @include respond-to(xs){
    font-size: 0.8rem;
  }
  @include respond-to(md) {
    font-size: 1rem;
    &:after {
      display: block;
    }
    @include respond-to(lg){
      font-size: 1.4rem;
      &:after{
        top: 6px;
        @include square(25px)
      }
    }
    @include respond-to(xl){
      font-size: 1.53rem;
    }
  }

  @include respond-to(lg) {
    padding-right: 54px;
  }
}

.amenities-sublist {
  padding-top: 10px;
  display: block;

  @include respond-to(md) {
    display: none;
    padding-top: 27px;

    &--default {
      display: block;
    }
  }
}

.amenities-sublist__item {
  font-size: 0.4rem;
  line-height: 1.2;
  display: block;

  @include respond-to(xs) {
    font-size: 0.6rem;
  }

  @include respond-to(lg) {
    font-size: 0.83rem;
  }
}