/*------------Slick Slider----------------*/

.slick__slider {
  position: relative;
  &.slick-initialized {
    opacity: 1;
  }
}

.slick-slide {
  outline: none !important;
}

.slick-dots {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 20px;
  right: 20px;
  li {
    display: block;
    @include square(10px);
    background-color: transparent;
    border: 1px solid #fff;
    margin-left: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    button {
      display: none;
    }

    @include on-event{
      background-color: #fff;
    }
    &.slick-active{
      background: #fff;
      position: relative;
    }
  }

  @include respond-to(lg){
    bottom: 40px;
    right: 40px;
    li {
      margin-left: 30px;
      @include square(21px);
    }
  }
}
