.section-contact__details {
  @include respond-to(md) {
    padding-left: 25px;
    margin-left: auto;
    width: auto;
    flex: 0 0 auto;
    max-width: 52%;

    @include ieStyles{
      flex: 1 0 52%;
    }
  }
  @include respond-min(1800) {
    //padding-left: 10.3vw;
  }
}

.section-contact__details-row {
  display: flex;
  flex-direction: column;
  @include respond-to(xs) {
    flex-direction: row;
  }
}

.section-contact__details-col {
  margin-bottom: 20px;
  @include respond-to(xs) {
    margin-bottom: 0;
    width: auto;
    flex: 0 0 auto;
    max-width: 50%;

    &:first-of-type {
      padding-right: 15px;
    }
    &:last-of-type {
      padding-left: 30px;
    }
  }

  @include respond-to(md){
    &:last-of-type{
      margin-left: auto;
    }
  }
  @include respond-to(xl) {
    margin-bottom: 0;
    width: 50%;
    max-width: 50%;

    @include ieStyles{
      width: auto;
      margin-left: auto;
    }

    &:first-of-type {
      padding-right: 30px;
    }
    &:last-of-type {
      padding-left: 58px;
    }
  }
}

.section-contact__logo-item {
  margin-bottom: 25px;
  position: relative;
  height: 49px;
  img {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  @include respond-to(sm){
    @include center;
    img{
      right: 0;
      @include center;
    }
  }
  @include respond-to(md) {
    margin-bottom: 42px;
    height: 49px;
  }
  @include respond-to(xl) {
    height: 70px;
  }
}

.section-contact__logo-anton {
  max-width: 119px;
  @include respond-to(md) {
    max-width: 150px;
  }
  @include respond-to(xl) {
    max-width: 216px;
  }
}

.section-contact__logo-geraldeve {
  max-width: 140px;
  @include respond-to(md) {
    max-width: 200px;
  }
  @include respond-to(xl) {
    max-width: 252px;
  }
}

.section-contact__details-info {
  margin-bottom: 15px;
  p, a {
    display: block;
    color: #fff;
    line-height: 1.2;
    font-size: 0.46rem;
    font-weight: 400;
    white-space: nowrap;
  }

  @include respond-to(md) {
    margin-bottom: 34px;
    p, a {
      font-size: 0.6rem;
    }
  }
  @include respond-to(xl) {
    p, a {
      font-size: 0.83rem;
    }
  }
}