.hero{
  display: flex;
}
.hero-card{

  &--left{
    padding-left: 8%;
  }
}

.hero-card--right{
  img{
    max-width: 500px;
  }
}

.hero-card__inner{
  border: 1px solid red;
}

.logo{
  display: block;
  max-width: 150px;
}