.homepage-overlay__parent{
  position: relative;
  @include square(100%);

  @include on-event{
    .homepage-card__overlay{
      opacity: 1;
      visibility: visible;
      z-index: 2;
    }
  }
}

.homepage-card__overlay{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(#010203, 0.6);
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.83rem; //25px
  font-family: $DrukBold;
  letter-spacing: 1.4px;
  transition: 0.6s all ease-in-out;
  opacity: 0;
  visibility: hidden;
  z-index: -1;

  &.show-in-mob{
    display: flex !important;
  }
  &.hide-in-mob{
    display: none !important;
  }

  @include respond-to(md){
    font-size: 1.93rem; //58px

    &.hide-in-mob{
      display: flex !important;
    }
    &.show-in-mob{
      display: none !important;
    }
  }
}