/* Basic typography style for text*/

html {
  // This defines what 1 rem is
  font-size: $baseFontSizePixel;
}


h1, .h1 {
}

h2, .h2 {
  font-size: 0.73rem; //22px
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  font-family: $DrukBold;
  margin-bottom: 20px;
  letter-spacing: 1.2px;

  @include respond-to(md) {
    font-size: 1.3rem;
    margin-bottom: 62px;
  }
  @include respond-to(lg) {
    font-size: 2rem; //60px
  }
}

h3, .h3 {


  @include respond-to(md) {

  }
}

h4, .h4 {

  @include respond-to(md) {

  }
}

p {
  font-size: 0.4rem; //12px
  font-weight: 400;
  line-height: 1.25;

  &:last-of-type{
    margin-bottom: 0;
  }
@include respond-to(xs){
  font-size: 0.6rem;
}
  @include respond-to(md) {
    font-size: 0.7rem;
  }
  @include respond-to(lg) {
    font-size: 1rem; //30px
  }
}
